<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.backend.mapper.JudgeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.co.backend.model.po.Judge">
        <id column="id" property="id" />
        <result column="qid" property="qid" />
        <result column="display_pid" property="displayPid" />
        <result column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="submit_time" property="submitTime" />
        <result column="status" property="status" />
        <result column="share" property="share" />
        <result column="error_message" property="errorMessage" />
        <result column="time" property="time" />
        <result column="memory" property="memory" />
        <result column="score" property="score" />
        <result column="length" property="length" />
        <result column="code" property="code" />
        <result column="language" property="language" />
        <result column="gid" property="gid" />
        <result column="cid" property="cid" />
        <result column="cpid" property="cpid" />
        <result column="ip" property="ip" />
        <result column="version" property="version" />
        <result column="oi_rank_score" property="oiRankScore" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, qid, display_pid, uid, username, submit_time, status, share, error_message, time, memory, score, length, code, language, gid, cid, cpid, ip, version, oi_rank_score, create_time, update_time
    </sql>

</mapper>
