body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  transform: translateX(-30px);
  opacity: 0;
}

.fade-slide-leave-to {
  transform: translateX(30px);
  opacity: 0;
}
// 题目的表格内容高度
.topicTable{
  tr{
    height: 60px;
  }
    // 自定义表头的样式
  .el-switch__label {
    span{
      color: rgb(144, 147, 153);
      font-size: 16px;
      font-weight: 600;
    }
  }
  .el-text {
    font-weight: 600;
  }
  // 算法标签
  .gap-2 {
    .el-check-tag {
      padding: 7px 7px;
      margin-right: 10px;
    }
  }
}
// 筛选题目的表单
.searchContent , .searchLabel, .addTopic{
  .el-form-item__label {
    font-size: 18px;
  }
  .el-select__wrapper{
    font-size: 18px;
  }
  .el-input__inner{
    font-size: 18px;
  }
  .el-button{
    font-size: 18px;
  }
}
// 添加题目?
.addTopicContent{
  .el-form-item__label {
    font-size: 17px;
  }
  .el-select__wrapper{
    font-size: 16px;
  }
  .el-input__inner{
    font-size: 17px;
  }
  .el-button{
    font-size: 18px;
  }
  .el-input {
    width: 270px;
  }
  .el-textarea{
    width: 270px;
  }
  .el-select{
    width: 220px;
  }
  .el-form-item{
    min-height: 32px;
  }
  .in-out{
    display: flex;
    flex-wrap: wrap;
    .el-button{
      width: 95%;
    }
  }
  .example {
    margin-top: 10px;
    width: 95%;
    .el-form-item__content{
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .el-form-item__label-wrap{
      margin-left: 0 !important;
    }
    .el-form-item__content{
      width: 220px !important;
    }
  }
}

// 题目详情中，可拖拽部位的初始大小
.topic-detail{
  .left{
    width: 50%;
  }
  .right{
    width: 50%;
  }
} 

// 代码编辑器聚焦时取消边框
.cm-focused {
  outline:0 !important;
}
// 代码编辑器基本样式
.cm-editor {
  font-size: 17px;
  width: 100%;
  height: 97%;
  padding: 10px 10px;
  .cm-gutters {
    background-color: #fff;
  }
}

// 详情页富文本图片的渲染
.description-data{
  img{
    width: 100% !important;
  }
}

// 发消息的富文本框
.InputBox{
  .ql-container,
  .ql-snow,
  .ql-editor {
    font-size: 17px;
    border: none !important;
    margin: 0;
    padding: 0;
  }
}

// 消息的文字样式
.chat-msg-text{
  p {
    margin: 0;
  }
}

// 聊天室加载聊天记录
.loading,.el-loading-spinner {
  width: 100%;
  height: 33px;
  line-height: 33px;
  .el-loading-mask {
    background-color: #f3f3f3;
  }
  .circular {
    margin-top: 3px;
    width: 30px !important;
    height: 30px !important;
  }
}